:host {
    display: block;
    box-sizing: border-box;
    padding:60px;

    .app__compare-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        height: 600px;
        width: 100%;
        margin: 0 0 40px 0;
    }

    .app__errors-container {
        display: block;
        box-sizing: border-box;
        margin: 40px 0;
    }
}